name: Language File Checks

on:
  push:
    paths:
      - '**/resources/assets/*/lang/*.lang'
  pull_request:
    paths:
      - '**/resources/assets/*/lang/*.lang'

env:
  GRADLE_OPTS: >-
    -Dorg.gradle.internal.launcher.welcomeMessageEnabled=false
  GRADLE_CMD_OPTS: >-
    -PbranchName=${{ github.ref }}
    --console=plain
    --continue
    --no-daemon
    --parallel

jobs:
  checkTranslations:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: 8
          java-package: jdk
          architecture: x64
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Check code formatting
        run: ./gradlew ${{ env.GRADLE_CMD_OPTS }} checkTranslations
      - name: Publish Language File Checks
        if: (success() || failure()) && (github.event_name != 'pull_request')
        uses: actions/upload-artifact@v2
        with:
          name: checkTranslations
          path: '**.lang.txt'
